name: pipeline and testing

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest 

    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: set up python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
          cache: 'pip'  # cache the pip to speed up the process
      - name: Install build tools
        run: |
          python -m pip install --upgrade pip setuptools wheel
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Test with pytest
        run: |
          pytest test_pipeline.py

  deploy:
    needs: build-and-test  # Deploy only after the tests pass
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'  # Deploy only on the main branch

    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: set up python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
          cache: 'pip'  # cache the pip to speed up the process
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: run the application
        run: |
          python ./pipeline/main.py
